{% extends 'base.html.twig' %}

{% block title %}Liste des Évènements{% endblock %}

{% block body %}

    <div class="row">
        <h1>Liste des Évènements</h1>
    </div>
    <div class="row justify-content-center">
        <p><a class="btn buttonCreate" href="{{ path('event_new') }}"><i class="fas fa-marker"></i> Ajouter un Évènement</a>
        </p>
    </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr class="text-center">
                <th>Nom</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr class="text-center">
                    <td>{{ event.name }}</td>
                    <td>{{ event.date ? event.date|date('d-m-Y') : '' }}</td>
                    <td class="btn-group">
                        <a href="{{ path('event_show', {'id': event.id}) }}" class="button"><i class="fas fa-list"></i></a>
                        <a href="{{ path('event_edit', {'id': event.id}) }}" class="button"><i
                                    class="fas fa-user-edit"></i></a>
                        <a href="{{ path('event_delete', {'id': event.id}) }}" class="button"><i
                                    class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun évènement trouvé</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
