{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <div class="row">
        <h1> Accueil Participant</h1>
    </div>
    <hr class="style" />
    <div class="row justify-content-center">
        <p><a href="{{ path('participant_new') }}" class="buttonCreate"><i class="fas fa-marker"></i>Créer un
                participant</a></p>
    </div>

    {% include 'upload/index.html.twig' %}
    <table class="table">
        <thead>
        <tr>
            <th>Nom de l'entreprise</th>
            <th>Nom</th>
            <th>Numéro de Téléphone</th>
            <th>Présent</th>
            <th>Partenaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr class="text-center">
                <td>{{ participant.entrepriseName }}</td>
                <td>{{ participant.name }} {{ participant.firstname }}</td>
                <td>{{ participant.phoneNumber }}</td>
                <td>
                    <label class="switch">
                        <input class = "presence" name ="presence" type="checkbox" value="{{ participant.id }}"{% if participant.present == 1 %} checked = "checked" {% else %} checked = ""{% endif %}>
                        <span class="slider round"></span>
                    </label>
                <td>{{ participant.quality ? 'Yes' : 'No' }}</td>
                <td class="btn-group">
                    <a href="{{ path('participant_show', {'id': participant.id}) }}" class="button"><i class="fas fa-list"></i></a>
                    <a href="{{ path('participant_edit', {'id': participant.id}) }}" class="button"><i class="fas fa-user-edit"></i></a>
                    <a href="{{ path('participant_delete', {'id': participant.id}) }}" class="button"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun participant enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script src="../assets/js/asynchrone.js"></script>
{% endblock %}
