{% extends 'base.html.twig' %}

{% block title %}Subservice index{% endblock %}

{% block body %}
    <h1>Subservice index</h1>

    <div class="row justify-content-center">
        <p><a href="{{ path('subservice_new') }}" class="buttonCreate"><i class="fas fa-marker"></i>Ajouter un sous service</a></p>
    </div>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Nom</th>
                <th>Service</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for subservice in subservices %}
            <tr>
                {#<td>{{ subservice.id }}</td>#}
                <td>{{ subservice.name }}</td>
                <td>{{ subservice.service.name }}</td>
                <td>
                    <a href="{{ path('subservice_show', {'id': subservice.id}) }}" class="button">show</a>
                    <a href="{{ path('subservice_edit', {'id': subservice.id}) }}" class="button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
