{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="row">
        <h1>Service</h1>
    </div>
    <hr class="style" />
    <div class="row justify-content-center">
        <p><a href="{{ path('subservice_new') }}" class="buttonCreate"><i class="fas fa-marker"></i>Ajouter un
                service</a></p>
    </div>

    <table class="table">
        <thead>
        <tr class="text-center">
            {#<th>Id</th>#}
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr class="text-center">
                {#<td>{{ service.id }}</td>#}
                <td>{{ service.name }}</td>
                <td class="btn-group">
                    <a href="{{ path('service_show', {'id': service.id}) }}" class="button"><i class="fas fa-list"></i></a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}" class="button"><i class="fas fa-user-edit"></i></a>
                    <a href="{{ path('service_delete', {'id': service.id}) }}" class="button"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
