{% extends 'sondage.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Votre avis nous interesse</h1>
    <hr class="style  my-5">
    <form method="post" action="" class="text-white">
        <div class="row">
            <div class="col">
                <h2>{{ formulaire.headerForm }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ formulaire.paragraph }}</p>
                <hr class="style  my-5">
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto border p-3">
                <h3 class="border-bottom">Vos coordonnées</h3>
                <p>{{ participant.entrepriseName }} / {{ participant.name }} {{ participant.firstname }}</p>
                <p>{{ participant.phoneNumber }} / {{ participant.email }}</p>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col col-10 my-3 mx-auto border p-3">
                {{ formulaire.formbuilderhtml|raw }}
            </div>
        </div>

        <div class="row">
            <div class="col col-10 my-3 mx-auto border p-3">
                <p>Avez-vous été satisfait de cet atelier / évènement ?</p>
                <input type="radio" name="satisfaction" value="0"> Déçu
                <input type="radio" name="satisfaction" value="1"> Un peu déçu
                <input type="radio" name="satisfaction" value="2" checked > Neutre
                <input type="radio" name="satisfaction" value="3"> Satisfait
                <input type="radio" name="satisfaction" value="4"> Très satisfait
            </div>
        </div>

        <div class="row">
            <div class="col col-10 my-3 mx-auto border p-3">
                <p>Avez-vous eu des contacts ?</p>
                <table>
                    <tr><td>
                            <select name="contact1">
                                {% for type in typecontact %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="input" name="contactname1" value="" placeholder="societe"/>
                        </td>
                    </tr>
                    <tr><td>
                            <select name="contact2">
                                {% for type in typecontact %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="input" name="contactname2" value="" placeholder="societe"/>
                        </td>
                    </tr>
                    <tr><td>
                            <select name="contact3">
                                {% for type in typecontact %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="input" name="contactname3" value="" placeholder="societe"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn buttonCreate">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>


    </form>

{% endblock %}
