{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/switch.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link id="changeable-colors" rel="stylesheet" href="{{ asset('assets/css/' ~ app.session.get('theme') ?? 'classic' ~'.css') }}">
    <link rel="stylesheet" href="/assets/css/header_navBar.css">
{% endblock %}

{% block title %}Création d'un nouveau formulaire{% endblock %}

{% block body %}

    <div class="row">
        <h1>Création d'un nouveau formulaire</h1>
    </div>
    <div class="row">
        <div class="col text-right">
            <a class="btn button" href="{{ path('form_builder_index') }}">Retour</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ include('form_builder/_form.html.twig') }}
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <section id="main_content" class="inner">
                <form class="build-form clearfix"></form>
                <div class="render-form d-none"></div>
            </section>
        </div>
    </div>
    <div class="row my-2 render-btn-wrap">
        <div class="col text-left">
            <button id="reloadBtn" class="btn button">Reset</button>
        </div>
        <div class=" col text-right">
            <button id="renderForm" class="btn buttonCreate">Valider</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/formeo.min.js') }}"></script>
    <script src="{{ asset('assets/js/demo.js') }}"></script>
{% endblock %}
